%h1 New Pin
%p
  Hint: drag this link to your bookmarks, and click while surfing to create a pin: 
  = link_to "Shelve it!", "javascript:(function()%20%7Bd=document,%20w=window,%20e=w.getSelection,%20k=d.getSelection,%20x=d.selection,%20s=(e?e():(k)?k():(x?x.createRange().text:0)),%20e=encodeURIComponent,%20document.location='http://shelfcentered.com/pins/new?url='+e(document.location)+'&title='+e(document.title)+'&selection='+e(s);%7D%20)();"

= render 'form'
